<%= form_with(model: user) do |form| %>
  

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :campaigns_list, style: "display: block" %>
    <%= form.text_area :campaigns_list, placeholder: 'Campaigns List' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
